html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.map_background{
  background-image: url('/images/base_map.jpg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
}

.post{
  padding-top: 25px;
  padding-bottom: 25px;
}