body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.brand img, .brand h2 {
  padding: 20px;
}

.brand a {
  text-decoration: none
}

.brand a:visited {
  text-decoration: none
}


/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5;
  /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e5e5e5 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */
  background-repeat: repeat-x;
  /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}

.nav-justified > .active > a, .nav-justified > .active > a:hover, .nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, .15);
}

.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}

.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead, .marketing, .footer {
    padding-right: 0;
    padding-left: 0;
  }
}


/**** Calendar Heatmap ****/

body {
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}


/* color ranges */

.RdYlGn .q0-11 {
  fill: rgb(165, 0, 38)
}

.RdYlGn .q1-11 {
  fill: rgb(215, 48, 39)
}

.RdYlGn .q2-11 {
  fill: rgb(244, 109, 67)
}

.RdYlGn .q3-11 {
  fill: rgb(253, 174, 97)
}

.RdYlGn .q4-11 {
  fill: rgb(254, 224, 139)
}

.RdYlGn .q5-11 {
  fill: rgb(255, 255, 191)
}

.RdYlGn .q6-11 {
  fill: rgb(217, 239, 139)
}

.RdYlGn .q7-11 {
  fill: rgb(166, 217, 106)
}

.RdYlGn .q8-11 {
  fill: rgb(102, 189, 99)
}

.RdYlGn .q9-11 {
  fill: rgb(26, 152, 80)
}

.RdYlGn .q10-11 {
  fill: rgb(0, 104, 55)
}


/* hover info */

#tooltip {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
}


/**** Radar ****/

.radar-chart .area {
  fill-opacity: 0.7;
}

.radar-chart.focus .area {
  fill-opacity: 0.3;
}

.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}

.area.germany, .germany .circle {
  fill: #FFD700;
  stroke: none;
}

.area.argentina, .argentina .circle {
  fill: #ADD8E6;
  stroke: none;
}


/**** legend ****/

.legend rect {
  fill: white;
  stroke: black;
  opacity: 0.8;
}


/**** bars ****/

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar1 {
  fill: steelblue;
}

.bar2 {
  fill: orange;
}

.bar3 {
  fill: forestgreen;
}

.x.axis path {
  display: none;
}


/**** Pie And Line ****/

.chart {
  min-height: 400px;
  border-bottom: 1px solid #eee;
  padding: 1em;
}

.chart--headline, .chart--subHeadline {
  text-align: center;
}

.chart--headline {
  position: relative;
  font-weight: 100;
  font-size: 28px;
}

.chart--headline:before {
  position: absolute;
  content: '';
  bottom: 133%;
  left: 50%;
  width: 25%;
  margin: 0 0 0 -12.5%;
  border-top: 1px dashed #999999;
}

.chart--subHeadline {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
}

.charts--container {
  background-color: #fff;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .charts--container {
    max-width: 700px;
    left: 50%;
    top: 10%;
    margin: 5em auto;
    box-shadow: 0 2em 2em #333;
  }
}

.charts--headline {
  text-align: center;
  color: #444;
  background-color: #fff;
  padding: 1em;
}

.lineChart--area {
  fill: url(#lineChart--gradientBackgroundArea);
}

.lineChart--areaLine {
  fill: none;
  stroke: #6bb7c7;
  stroke-width: 3;
}

.lineChart--bubble--label {
  fill: none;
  stroke: #6bb7c7;
  font-size: 12.6px;
  font-style: italic;
  font-weight: 100;
}

.lineChart--bubble--value {
  fill: #fff;
  stroke: #fff;
  font-size: 21px;
  font-weight: 100;
}

.lineChart--circle {
  fill: #6bb7c7;
  stroke: #fff;
  stroke-width: 3;
}

.lineChart--circle__highlighted {
  fill: #fff;
  stroke: #3f95a7;
}

.lineChart--gradientBackgroundArea--top {
  stop-color: #6bb7c7;
  stop-opacity: 0.1;
}

.lineChart--gradientBackgroundArea--bottom {
  stop-color: #6bb7c7;
  stop-opacity: 0.6;
}

.lineChart--svg {
  border: 1px solid #eee;
}

.lineChart--xAxisTicks .domain, .lineChart--xAxis .domain, .lineChart--yAxisTicks .domain {
  display: none;
}

.lineChart--xAxis .tick line {
  display: none;
}

.lineChart--xAxisTicks .tick line, .lineChart--yAxisTicks .tick line {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 1;
  stroke-dasharray: 2, 2;
}

.pieChart--center--innerCircle {
  fill: #fff;
}

.pieChart--center--text {
  font-size: 28px;
}

.pieChart--center--outerCircle {
  fill: rgba(255, 255, 255, 0.75);
}

.pieChart--detail--divider {
  stroke: gray;
  stroke-width: 1;
}

.pieChart--detail--percentage {
  font-size: 22px;
  font-weight: 100;
  fill: #333;
  stroke-width: 1px;
}

.pieChart--detail--textContainer {
  background-color: transparent;
  padding: 10px 0 0 0;
  margin: 0;
  color: #666;
  font-style: italic;
}

.pieChart--detail__left {
  text-align: left;
}

.pieChart--detail__right {
  text-align: right;
}

.pieChart__blue {
  fill: #6bb7c7;
}

.pieChart__red {
  fill: #d79d91;
}

.pieChart__green {
  fill: #92d892;
}


/**
 * Helper classes
 */

.hidden {
  display: none;
}


/**** Dashboard ****/

#charDashboard path {
  stroke: #fff;
}

#charDashboard path:hover {
  opacity: 0.9;
}

#charDashboard rect:hover {
  fill: blue;
}

#charDashboard .axis {
  font: 10px sans-serif;
}

#charPie .legend tr {
  border-bottom: 1px solid grey;
}

#charPie .legend tr:first-child {
  border-top: 1px solid grey;
}

#charPie .axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#charPie .x.axis path {
  display: none;
}

#charPie .legend {
  margin-bottom: 76px;
  display: inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 2px;
}

#charPie .legend td {
  padding: 4px 5px;
  vertical-align: bottom;
}

#charPie .legendFreq, .legendPerc {
  align: right;
  width: 50px;
}


/*** Trend ***/

#chart_trend .axis path, #chart_trend .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart_trend .axis text {
  fill: #000;
}

#chart_trend .axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

#chart_trend .area {
  stroke-width: 1;
}

#chart_trend .area.outer, #chart_trend .legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

#chart_trend .area.inner, #chart_trend .legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

#chart_trend .median-line, #chart_trend .legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

#chart_trend .legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

#chart_trend .marker.client .marker-bg, #chart_trend .marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

#chart_trend .marker.server .marker-bg, #chart_trend .marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

#chart_trend .marker path {
  fill: none;
}

#chart_trend .legend text, #chart_trend .marker text {
  fill: #fff;
  font-weight: bold;
}

#chart_trend .marker text {
  text-anchor: middle;
}


/*** Google Calendar ***/

#chart_google .gcContent {
  font-size: 0.875em;
}

#chart_google .axis path, #chart_google .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chart_google {
  vertical-align: top;
}

#chart_google .controls {
  padding-top: 10px;
}

.legend-calendar .key path {
  display: none;
}

.legend-calendar .key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend-calendar .legend-title {
    font-weight: bold;
}

.legend-calendar .legend-box {
    fill: none;
    stroke: #888;
    font-size: 10px;
}